#produtos,
body {
    background-color: black;
    margin: 15px auto;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.1em;
    padding: 10px 30px;
    line-height: 1.6;
    color: whitesmoke;
    border: 2px solid;
    text-align: center;

}

h2 {
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

div#Nike1 {
    text-align: center;
    display: flex;
    justify-content: center;
}

h5 {
    color: whitesmoke;
    text-align: center;
    justify-content: center;
}

h4 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

#menu {
    align-items: center;
    display: flex;
    justify-content: center;

}
h1{
    text-align: center;
    display: flex;
    justify-content: center;
}

footer{
    color: white;
    margin-top: 17.5%;
}
