body{
    background-color: black;
    text-align: center;
    background-image: url(TENISD.jpg);
    background-size: 100%;
    
}
h1{
    color: white;
    display: flex ;
    align-items: center;
    justify-content: center;
}
#menu{
    color: black;
    display: flex ;
    text-align: center;
    justify-content: center;
}
h3{
    color: white;
    display: flex ;
    text-align: center;
    justify-content: center;
}
h1{
    background-color: black;
}

h3{
    background-color: black;
}
footer{
    color: white;
    margin-top: 17.5%;
}







